:root {
  --custom-color-primary: #45c4a0;
  --custom-color-secondary: #f78b77;
}

html {
  scroll-behavior: smooth;
  width: 100% !important;
  height: 100% !important;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--custom-color-primary);
}

 p {
   max-width: 50ch;
   margin-right: auto;
 }

.section {
  border-radius: 20px;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 !important;
}

#contact-me {
  margin: 0 auto !important;
}

.navbar-nav .nav-item {
  font-weight: 700;
}

.navbar-nav .nav-item > .nav-link {
  font-size: 1rem;
}

.nav-item .nav-link-footer {
  color: black !important;
}

/* navbar link hover color */
.nav-item .nav-link:hover,
.nav-item .nav-link-footer:hover {
  color: var(--custom-color-primary) !important;
}

.logo-link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* margin-left:1rem; */
}

.logo-link .learn-logo {
  width: 100%;
  height: 100%;
}

.logo-link .logo-text {
  font-size: 1rem !important;
  color: var(--custom-color-primary);
  padding: 0;
  margin: 0;
}

.info-buttons {
  flex-direction: column;
}

#flag-background {
  display: none;
}

#flags-background-mobile {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
}

.flag-mobile {
  width: 100%;
  max-height: 33.33%;
}

.rotator-fs {
  width: 75%;
  margin: 1rem auto;
}

.opacity-90 {
  opacity: 0.9;
}

.first-section {
  /* min-height: 85vh; */
}

.book-a-lesson-btn {
  position: absolute;
  right: -55px;
  top: 39px;
  transform: rotate(45deg);
  z-index: 10;
  -webkit-box-shadow: 0px 4px 30px -3px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 4px 30px -3px rgba(0, 0, 0, 0.76);
}

.book-a-lesson-btn:hover {
  transform: rotate(45deg) scale(1.09);
  transition: transform 0.3s ease-in-out;
}

.book-a-lesson-link {
  transform: translate(20px);
  transition: transform 2s linear;
}

.direction-arrow {
  display: none;
}

.social-media__contact-form {
  width: 100%;
}

.social-media-link__contact-form {
  margin: 0.2rem;
}

.social-media-link__contact-form img {
  width: 15px;
}

.social-media-link__contact-form:hover {
  cursor: pointer;
}

.direction-arrow img {
  width: 100%;
}

.blockquote-details {
  margin-top: 1rem;
}

.table tr td,
.table tr th {
  padding: 0;
  text-align: center;
}

.first-section {
  border-radius: 0 !important;
}

#brief-info {
  max-width: 50ch;
}

.table tr:nth-child(odd) {
  background-color: #fef6f5;
}

.table tr:hover,
.table tr:active {
  background-color: var(--custom-color-secondary);
}

.closed-opening-hours:hover {
  background-color: red !important;
}

.today-opening-hours {
  border-top: 3px solid var(--custom-color-primary) !important;
  border-bottom: 3px solid var(--custom-color-primary) !important;
}

.opening-hours-row:hover {
  transition: background-color 350ms ease-in-out;
}

.flags {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.flag {
  position: static !important;
  display: block;
  margin: auto;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0 !important;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 7px rgba(108,108,108,0.5) !important;
  box-shadow: 0px 0px 15px 7px rgba(108,108,108,0.5) !important;
}

.flag:hover {
  transform: scale(1.1);
  transition: transform 0.5s linear;
}

.bg-dark {
  background-color: #006b4c!important;
}

button.collapsed:hover,
button.collapsed:active,
button.collapsed:visited {
  color: var(--custom-color-primary) !important;
}

.uil-check:before {
  content: url('../img/icons/check.png');
  padding: 0.1rem 0.08rem 0.03rem 0.05rem;
  width:5px;
}

@media (max-width: 600px) {
  .logo-link {
    flex-direction: column;
    /* max-width: 80px; */
  }
  .book-a-lesson-btn {
    box-shadow: none;
  }
}

@media (min-width: 300px) {
  .logo-link .learn-logo {
    max-width: 100px;
  }
}

@media (min-width: 400px) {
  .info-buttons {
    flex-direction: row;
  }
}

@media (min-width: 500px) {
  .logo-link .learn-logo {
    max-width: 100px;
  }
}

@media (max-width: 576px) {
  .info-buttons {
    flex-direction: column;
  }
  .blockquote-details {
    flex-direction: column;
  }
  .blockquote-details img {
    margin-bottom: 0.5rem;
  }
}

/* mobile to desktop breakpoint */
@media (max-width: 991.98px) {
  .navbar-nav {
    margin-top: 4rem;
  }
  .slogan {
    letter-spacing: 3px;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
  }

  .section {
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  #brief-info {
    margin: auto;
  }

  .navbar-nav .nav-item > .nav-link {
    font-size: 1.2rem;
    color: #aab0bc !important;
  }
}

@media (min-width: 991.98px) {

  .flags {
    flex-direction: column;
    align-items: flex-end;
  }

  .flag {
    margin-bottom: 2rem;
    width: 125px;
    height: 125px;
  }

  .flag:first-child {
    margin-top: 2rem;
  }

  #flag-background {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../img/photos/Czech-Flag.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center;
    z-index: -1;
    opacity: 0.65;
  }

  #flags-background-mobile {
    display: none;
  }

  .rotator-fs {
    margin-right: auto;
  }

  .direction-arrow {
    display: inline-block;
    width: 30px !important;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    animation: jump-up-and-down 3s linear infinite;
  }

  @keyframes jump-up-and-down {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .slogan {
    letter-spacing: 5px;
  }

  li.nav-item .link-item {
    padding: 0 !important;
    margin: 0 !important;
  }

  .book-a-lesson .nav-link {
    color: var(--custom-color-secondary) !important;
  }

  .book-a-lesson .nav-link:hover {
    color: var(--custom-color-primary) !important;
  }

  .nav-link {
    padding: 0;
    font-size: 0.75rem;
  }

  .navbar-links {
    margin: 0;
  }

  .swiper-slide:hover {
    transform: scale(1.05);
    transition: transform 250ms linear;
  }
}

@media (max-width: 576px) {
  .order-xs-1 {
    order: 1 !important;
  }
  .order-xs-2 {
    order: 2 !important;
  }
}
