:root {
  --custom-color-primary: #e9b52d;
  --custom-color-secondary: #f78b77;
  --custom-color-gold: #e9b52d; /* same as primary color */
  --custom-color-gold-light: #fdfaf0;
  --custom-color-turquoise: #54dedc;
  --custom-color-turquoise-light: #54dedc29;
  --custom-color-black: #191d21;
  --custom-color-grey: #191d21c9;
  --custom-color-grey-light: #dadada;
  --custom-color-white: #fff;
}

html {
  scroll-behavior: smooth;
  width: 100% !important;
  height: 100% !important;
  font-size: 16px;
  text-rendering: geometricPrecision;
  color: var(--custom-color-black);
}

/* custom scrollbar */
html::-webkit-scrollbar {
  width: 12px;
}

/* background of the scrollbar track */
html::-webkit-scrollbar-track {
  background-color: var(--custom-color-black);
}

/* background of the scrolling thumb */
html::-webkit-scrollbar-thumb {
  background: var(--custom-color-gold);
  border-radius: 20px;
}

/*  Colors */
.text-turquoise {
  color: var(--custom-color-turquoise) !important;
}

.bg-turquoise {
  background-color: var(--custom-color-turquoise) !important;
}

.bg-turquoise-light {
  background-color: var(--custom-color-turquoise-light) !important;
}

.text-gold {
  color: var(--custom-color-gold) !important;
}

.bg-gold {
  background-color: var(--custom-color-gold) !important;
}

.bg-black {
  background-color: var(--custom-color-black) !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-black {
  color: var(--custom-color-black) !important;
}

.text-white {
  color: var(--custom-color-white) !important;
}

.bg-white {
  background-color: var(--custom-color-white) !important;
}

.border-gold {
  border: 2px solid var(--custom-color-gold) !important;
}

.bg-gold-light {
  background-color: var(--custom-color-gold-light) !important;
}

.transition-bg-change {
  transition: background-color 750ms ease-in-out;
}

.article-text {
  font-family: "Merriweather Regular";
  font-size: 0.75rem !important;
  color: var(--custom-color-black) !important;
}

.text-grey {
  color: var(--custom-color-grey);
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0.75rem;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
}

#loading-bar {
  position: fixed;
  width: 0px;
  top: 79px;
  left: 0;
  height: 6px;
  z-index: 10;
}

#how-it-works-steps {
  display: flex;
  flex-flow: row nowrap;
}

#how-it-works-steps .step-info {
  max-width: 90%;
  margin: auto;
}

#page-not-found h1,
#page-not-found h2 {
  text-align:center;
}

#page-not-found img {
  max-width: 300px;
}

.how-it-works-step-icon {
  max-width: 40px;
}

.how-it-works-step-num {
  color: var(--custom-color-black);
  background: var(--custom-color-white);
  /* border: 2px solid var(--custom-color-gold); */
}

.section {
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 !important;
}

#contact-me {
  margin: 0 auto !important;
}

.main-btn {
  color: var(--custom-color-white) !important;
  background-color: var(--custom-color-black) !important;
  border: 2px solid var(--custom-color-gold) !important;
}

.main-btn:hover,
.main-btn:active,
.main-btn:focus {
  color: var(--custom-color-gold) !important;
}

.secondary-btn {
  background-color: var(--custom-color-white) !important;
  color: var(--custom-color-black) !important;
  border: 2px solid var(--custom-color-gold) !important;
}

.show {
  display: block !important;
  overflow: hidden;
}

.navbar-nav .nav-item {
  font-weight: normal;
}

.nav-link {
  font-size: 0.95rem;
}

.nav-link.letter-spacing {
  letter-spacing: -0.08rem;
}

.nav-item .nav-link-footer,
.nav-item-footer .nav-link-footer {
  color: var(--custom-color-black) !important;
}

.nav-item-footer {
  margin-bottom: 0.5rem;
}

/* navbar link hover color */
.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.nav-item .nav-link:focus,
.nav-item-footer .nav-link-footer:hover,
.nav-item-footer .nav-link-footer:active,
.nav-item-footer .nav-link-footer:focus {
  color: var(--custom-color-gold) !important;
}

.nav-item {
  border-bottom: 4px solid transparent;
}

.border-bottom-gold {
  border-bottom: 4px solid var(--custom-color-gold) !important;
}

.logo-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.logo-link .learn-logo {
  width: 100%;
  height: 100%;
  max-width: 40px;
}

.logo-link .logo-text {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.4rem;
}

.logo-link .logo-text h2 {
    white-space: nowrap;
}

#language-dropdown {

}

#language-dropdown a {
  color: var(--custom-color-gold) !important;
}

#language-dropdown a:last-child {
  color: var(--custom-color-gold) !important;
}

#language-dropdown a:hover {
  color: var(--custom-color-turquoise) !important;
}

.info-buttons {
  flex-direction: column;
}

.price-section {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem auto;
  font-family: "Josefin Bold";
}

.price-bundle-section {
  margin: 1rem auto;
}

.time-switcher,
.student-switcher {
  cursor: pointer;
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 15px;
}

.switcher p {
  font-family: "Josefin Bold";
}

.font-bold {
  font-weight: bold;
}

.switcher {
  display: flex;
  /* flex-flow: column nowrap; */
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.pricing-wrapper .card-body {
  margin: 0;
}

.switcher p,
.switcher p {
  font-size: 1rem;
  font-weight: bolder;
}

.time-switcher-button,
.student-switcher-button {
  position: absolute;
  border-radius: 15px;
  left: 0px;
  top: 0px;
  margin: 0.13rem 0.2rem;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
}

.time-switcher-button-active,
.time-switcher-button-inactive,
.student-switcher-button-active,
.student-switcher-button-inactive {
  transition: 100ms linear;
}

.time-switcher-button-active,
.student-switcher-button-active {
  position: absolute;
  left: 45%;
}

.time-switcher-button-inactive,
.student-switcher-button-inactive {
  right: 45%;
}

.switches {
  display: flex;
  flex-flow: column nowrap;
}

.pricing-cards {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.pricing-rating {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.5rem auto;
}

.pricing-rating img {
  width: 90px;
  height: 90px;
  margin: 0.1rem;
}

.pricing-card {
  width: 100%;
}

.plan-hidden {
  display: none;
}

.background-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../img/photos/Dreamcatcher1.webp');
}

.bg-image-bottom {
  background-image: url('../img/photos/Dreamcatcher2.webp');
}

.background-filter {
  filter: brightness(35%);
}

.rotator-fs {
  width: 75%;
  margin: 1rem auto;
}

.opacity-90 {
  opacity: 0.9;
}

.first-section {
  min-height: 95vh;
}

.book-a-lesson-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  transform: none;
  opacity: 0.8;
  width: 100%;
  margin: auto;
  height: 55px;
  border-radius: 0;
}

.book-a-lesson-btn {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-input {
  padding: 0.35rem 0.6rem 0.3rem 0.6rem;
  border: 3px solid var(--custom-color-grey-light);
  outline: none;
  width: 100%;
}

.form-input_label {
  font-weight: 500;
}

.form-input:hover,
.form-input:active,
.form-input:focus {
  border-color: var(--custom-color-gold);
  transition: all 300ms linear;
}

/* default height of textarea in form input is 100px */
textarea.form-input {
  min-height: 100px;
  height: 150px;
}

.social-media__contact-form {
  width: 100%;
}

.social-media-link__contact-form {
  margin: 0.2rem;
}

.contact-icon {
  width: 25px;
  height: 25px;
}

.social-media-link__contact-form img {
  width: 25px;
  height: 25px;
}

.social-media-link__contact-form:hover {
  cursor: pointer;
}

.faq-item {
  font-family: "Josefin Regular" !important;
  font-size: 0.65rem !important;
  text-transform: uppercase;
}

.blockquote-details {
  margin-top: 1rem;
}

.table tr td,
.table tr th {
  padding: 0;
  text-align: center;
}

.first-section {
  border-radius: 0 !important;
}

#brief-info {
  /* max-width: 50ch; */
}

.text-highlight {
  color: var(--custom-color-gold) !important;
  /* font-weight: bold; */
}

.simple-note {
  border-left: 5px solid var(--custom-color-gold);
  background-color: #f7f7f7;
  padding: 0.75rem;
  color: var(--custom-color-black) !important;
  max-width: 80%;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.simple-note:last-child {
  margin-bottom: auto;
}

.table tr:nth-child(odd) {
  background-color: #fef6f5;
}

.table tr:hover,
.table tr:active {
  background-color: var(--custom-color-primary);
}

.closed-opening-hours:hover {
  background-color: var(--custom-color-secondary) !important;
}

.today-opening-hours {
  border-top: 3px solid black !important;
  border-bottom: 3px solid black !important;
}

.opening-hours-row {
  color: var(--custom-color-black);
}

.opening-hours-row:hover {
  transition: background-color 350ms ease-in-out;
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 7px rgba(108, 108, 108, 0.5) !important;
  box-shadow: 0px 0px 15px 7px rgba(108, 108, 108, 0.5) !important;
}

button.collapsed:hover,
button.collapsed:active,
button.collapsed:visited {
  color: var(--custom-color-primary) !important;
}

.uil-check:before {
  content: url('../img/icons/check.webp');
  padding: 0.1rem 0.08rem 0.03rem 0.05rem;
  width: 5px;
}

@media (max-width: 600px) {
  .logo-link {
    flex-direction: column;
  }

  .logo-link .logo-text h2 {
    font-size: 0.9rem !important;
  }

  .book-a-lesson-btn {
    box-shadow: none;
  }
}

@media (min-width: 200px) {
  .logo-link .learn-logo {
    width: 120px;
    height: auto;
    /* margin: 1rem; */
  }
}

@media (min-width: 300px) {
  .logo-link .learn-logo {
    width: 120px;
  }
}

@media (min-width: 400px) {
  .info-buttons {
    flex-direction: row;
  }
}

.section {
  /* padding-left: 0; */
  /* padding-right: 0; */
}

@media (min-width: 500px) {
  .switcher {
    flex-flow: row nowrap;
  }

  #page-not-found img {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .info-buttons {
    flex-direction: column;
  }

  .blockquote-details {
    flex-direction: column;
  }

  .blockquote-details img {
    margin-bottom: 0.5rem;
  }
}

/* mobile to desktop breakpoint */
@media (max-width: 991.98px) {

  html {
    font-size: 17px !important;
  }

  #book-a-lesson {
    display: none;
  }

  #how-it-works-steps {
    flex-direction: column;
    text-align: center;
  }

  .slogan {
    letter-spacing: 3px;
    width: 80%;
    margin: auto;
  }

  .switcher:first-child {
    margin-bottom: 1rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none !important;
  }

  .section {
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  #brief-info {
    margin: auto;
    font-size: 0.9rem;
  }

  .navbar-nav .nav-item>.nav-link {
    color: var(--custom-color-black) !important;
  }

  .navbar-nav .nav-item>.nav-link:hover,
  .navbar-nav .nav-item>.nav-link:active,
  .navbar-nav .nav-item>.nav-link:focus {
    color: var(--custom-color-gold) !important;
  }

  .scale {
    transform: scale(1.0);
  }
}

@media (min-width: 991.98px) {
  .book-a-lesson-link {
    position: fixed;
    align-items: flex-end;
    height: 60px;
    width: 257px;
    right: -105px;
    top: 27%;
    transform: rotate(90deg);
    z-index: 99;
    opacity: 1;
    animation: flash 3s ease infinite;
    border-radius: 0 0 15px 15px;
  }

  .logo-link {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1rem;
  }

  .logo-link .logo-text {
    padding-left: 0.4rem;
  }

  #loading-bar {
    display: none;
  }

  #how-it-works-steps {
    flex-direction: row;
  }

  .simple-note {
    max-width: 50%;
  }

  .pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .scale {
    transform: scale(1.07);
  }

  .pricing-card:hover {
    transform: scale(1.10);
    z-index: 10;
    transition: all 0.8s linear;
  }

  @keyframes flash {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.7;
    }

    100% {
      opacity: 1;
    }
  }

  .book-a-lesson-link:hover {
    transform: rotate(90deg);
    transition: all 0.8s ease-in-out;
  }

  .book-a-lesson-btn {
    font-weight: bold;
    /* font-size: 1.3rem; */
  }

  .switches {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .rotator-fs {
    margin-right: auto;
  }

  .slogan {
    letter-spacing: 5px;
  }

  li.nav-item .link-item {
    padding: 0 !important;
    margin: 0 !important;
  }

  .book-a-lesson .nav-link {
    color: black !important;
  }

  .book-a-lesson .nav-link:hover {
    color: var(--custom-color-primary) !important;
  }

  .nav-link {
    border-bottom: 4px solid transparent;
  }

  .navbar-links {
    margin: 0;
    height: 100%;
  }

  .swiper-slide:hover {
    transform: scale(1.05);
    transition: transform 250ms linear;
  }
}

@media (max-width: 1050px) {
  .nav-link.letter-spacing {
  }
}

@media (min-width: 1300px) {

  .nav-link.letter-spacing {
    letter-spacing: 0.04rem;
  }
}

@media (max-width: 576px) {
  .order-xs-1 {
    order: 1 !important;
  }

  #rotator {
    font-size: 1.5rem;
  }

  .order-xs-2 {
    order: 2 !important;
  }
}

@media(max-width: 1100px) {
  .navbar-links {
    display: none;
  }
}
