@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-color: #586e72;
  --secondary-color: #f0dcbf;
  --tertiary-color: #e44644;
  --bg-color: #ffffff;
  --header-height: 150px;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--main-color);
  height: var(--header-height);
}

header #title {
  font-size: 1.4rem;
  border: none;
  width: 100%;
  letter-spacing: 4px;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header nav ul li {
  margin: auto 2rem;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  border-bottom: 3px solid var(--main-color);
  width: 50%;
  margin: 1rem auto;
}

.mobile {
  display: block;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
}

.closed {
  display: none;
}

#mobile-nav {
  position: fixed;
  border-top: 3px solid var(--main-color);
  padding-top: var(--header-height);
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: var(--bg-color);
  z-index: 10;
}

#mobile-nav a li {
  margin: 3rem auto;
}

.desktop {
  display: none;
}

#menu-button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: inherit;
}

.menu-button-line {
  width: 80%;
  height: 4px;
  margin: 4px;
  background-color: var(--main-color);
}

header nav ul li:hover,
header nav ul li:active,
header nav ul li:focus,
#footer-nav li:focus,
#footer-nav li:hover,
#footer-nav li:active  {
  color: var(--tertiary-color);
  transition: color 0.25s linear;
}

#my-photo-contact {
  border-radius: 10px;
}

#contact-form {
  width: 60%;
  max-width: 400px;
  min-width: 250px;
  margin: 3rem auto;
  display: flex;
  flex-flow: column nowrap;
}

#contact-form .required {
  color: red;
}

#contact-form label {
  font-weight: bold;
}

#contact-form input {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#contact-form [type='submit'] {
  margin-top: 2.5rem;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: var(--header-height);
  background-color: var(--main-color);
  padding: 1rem;
}

#footer #created-by {
  width: 100%;
  height: 10px;
  display: block;
}

#contact :not(h3) {
  color: var(--bg-color);
  margin: 0.5rem auto;
  padding: 0;
}

#footer-nav {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

#footer-nav li {
  color: var(--bg-color);
}


@media (min-width: 700px) {
  main {
    padding: 0 0.5rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}