@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
}

:root {
  --main-color: #316B83;
  --secondary-color: #8CA1A5;
}

html, body {
  padding: 0rem;
  margin: 0rem;
  background-color: #fff;
  font-family: 'Gemunu Libre', sans-serif;
  background-color: var(--main-color);
  line-height: 1.4;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--main-color);
}

#mobile-nav {
  display: none;
  /* height: 0; */
}

#mobile-nav ul {
  display: flex;
  flex-flow: column nowrap;
}

#mobile-nav ul li {
  margin: 0.3rem auto;
  position: relative;
  right: 2.2em;
}

.mobile-nav-open {
  display: flex !important;
  flex-flow: column nowrap;
}

#mobile-nav-btn {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  border: 2px solid black;
  border-radius: 10px;
}

#mobile-nav-btn:hover,
#mobile-nav-btn:active,
#mobile-nav-btn:focus {
  background-color: black;
  border-color: var(--secondary-color);
  transition: all 150ms linear;
}

.mobile-nav-btn-line {
  display: block;
  width: 80%;
  height: 5px;
  border-radius: 10px;
  margin: 0.45rem auto;
  background-color: var(--main-color);
}

#desktop-nav {
  display: none;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: auto 0.5rem;
}

header nav ul li:hover,
header nav ul li:active,
header nav ul li:focus {
  color: #D5BFBF;
  transition: color 0.5s linear;
}

header nav ul a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  max-width: 50ch;
}

#intro-info {
  padding-top: 5rem;
  min-height: 500px;
  width: 100%;
  background-image: url('./resources/images/pedro-araujo-PDjYClxmnyk-unsplash.jpg');
  background-size: cover;
}

#intro-text {
  background-color: var(--main-color);
  padding: 2rem 3rem;
  opacity: 0.75;
}

#intro-text h1 {
  font-weight: bold;
  font-size: 3rem;
}

#intro-text ul {
  list-style: none;
}

#intro-text ul li {
  /* text-align: left; */
  max-width: 40ch;
  margin: auto;
  padding-bottom: 0.8rem;
  /* text-decoration: underline; */
  color: white;
  font-size: 1.5rem;
}

#our-training {
  width: 90%;
  margin: auto;
}

#our-training-gallery {
  display: flex;
  flex-flow: column nowrap;
}

.gallery-photo {
  width: 100;
  margin: 1rem auto;
}

.gallery-photo img {
  width: 100%;
}

.gallery-photo .description {
  background-color: var(--secondary-color);
  width: 90%;
  margin: auto;
  /* padding: 0.5rem 3rem; */
}

@media (min-width : 750px) {
  #our-training-gallery {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  #desktop-nav {
    display: block;
  }

  #mobile-nav {
    display: none;
  }

  .mobile-nav-open {
    display: none !important;
  }

  #mobile-nav-btn {
    display: none;
  }

  .gallery-photo {
    max-width: 35%;
    /* max-width: 500px; */
    margin: 1rem 2rem;
  }
}
