html {
  scroll-behavior: smooth;
}

#background-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.65);
}

.navbar-nav .nav-link {
  padding: 0.3rem !important;
}

.navbar-nav .nav-link a {
  color: var(--bs-aqua);
  font-size: 1.15rem;
  transition: color 200ms ease-in;
}

.navbar-nav .nav-link a:hover {
  color: var(--bs-navy) !important;
}

.main-buttons {
  display: flex;
  margin-top: 1rem;
  flex-flow: column nowrap;
  align-items: center;
}

.main-buttons>a:first-child {
  margin-bottom: 0.5rem;
}

.contact-me-btn-desktop {
  display: none;
}

.navbar-nav .nav-link a:hover {
  color: var(--bs-aqua);
}

@media (max-width: 576px) {
  .main-buttons {
    align-items: center;
  }
}

@media (min-width: 576px) {
  .main-buttons {
    align-items: flex-start;
  }
}

@media (min-width: 991.98px) {
  #header-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    box-shadow: 2px 0px 36px -7px rgba(0,0,0,0.85);
-webkit-box-shadow: 2px 0px 36px -7px rgba(0,0,0,0.85);
-moz-box-shadow: 2px 0px 36px -7px rgba(0,0,0,0.85);
  }

  .navbar-nav .nav-link {
    padding: 0 0.65rem !important;
    margin: 1rem auto;
  }

  .main-buttons {
    flex-direction: row;
    align-items: baseline;
  }

  .contact-me-btn-desktop {
    display: block;
  }

  .main-buttons>a:first-child {
    margin-right: 0.5rem;
  }
}
